<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->

	<!-- boilerplate.css -->

	{{> base/font}}

	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics }}

</head>

<body id='v0'>

	{{> base/header }}

	<main id='content'>
		{{> story/intro }}
		<div id='media'>
			<ul class='toggle'>
				<li><button class='btn is-active' data-prop='chron' data-id='aom3-Kr_1fk'>Chronological</button></li>
				<li><button class='btn' data-prop='views' data-id='9lRIlfA86J0'>Most-viewed</button></li>
			</ul>
			<div id='player-container'>
				<div id='player'></div>
			</div>
		</div>
		<div id='plays-container'>
			<div class='seek'><button class='btn prev is-disabled'>@@include('arrow-left.svg')</button>
			<button class='btn next'>@@include('arrow-right.svg')</button></div>
			
			<div id='plays'></div>
		</div>
		<p class='byline'>Created by
			<a href='{{meta.author.url}}' target='_blank'>
				<strong>{{meta.author.name}}</strong>
			</a>. Data was collected daily using the Reddit API. Only posts with <a href='https://streamable.com' target='_blank'>streamable</a> videos and over 250,000 views were included.
		</p>
	</main>

	{{!--
	<script src='{{basepath}}assets/scripts/d3.v5.0.0.min.js'></script> --}}
	<script src='{{basepath}}assets/scripts/d3.v4.12.0+jetpack.min.js'></script>
	<script src='bundle.js?version={{timestamp}}' async></script>
	<script src='https://pudding.cool/assets/scripts/pudding-footer.js' async></script>
</body>

</html>